{% extends "ForumHomeBundle::layout.html.twig" %}
{% block head %}
	<link rel="stylesheet" href="{{ asset('bundles/forumhome/css/home.css') }}" />
{% endblock %}
{% block title "Symfony - AnswerQuestion" %}

{% block body %}
	<div class="main-body-container">
		<div class="question-list-container">
		{% for question in arr_questions %}
			 <div class="question-container">
				<input type="hidden" value="{{ question.id }}"/>
				<div>
					<a href="/descquestion/{{ question.id }}">
						<span>{{ question.content }}</span>
						<span>{{ question.createTime.date }}</span>
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}